@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-width: 560px;
}

header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: white;
}

header > input {
    flex: 1 1 150px;
    max-width: 600px;
    margin: 10px auto 10px 0px; 
    border-radius: 25px;
    padding: 10px;
    font-size: 1.1em;
}

header >  img#logo, header > div#sup-left {
    margin: 22px 28px;
    cursor: pointer;
}

header > div {
    display: flex;
    align-items: center;
}

header > div > input {
    border-radius: 20px;
    padding: 10px;
    
}

header > div > p {
    font-weight: bolder;
    padding: 16px;
    margin-right: 10px;
    cursor: pointer;
}

header > div > p:hover {
    background-color: rgba(0, 0, 0, 0.356);
    border-radius: 50%;
}

img#foto {
    border-radius: 50%;
    cursor: pointer;
}

main {
    padding-top: 100px;
}

main > div#menu, main > p {
    margin-left: 20vw;
    max-width: 650px;
}

main > div#menu {
    display: flex;
}

main > div#menu > p {
    padding: 10px;
    cursor: pointer;
}

main > div > p#todas {
    box-shadow: 0px 2px 0px blue;
    margin-left: -10px;
    color: blue;
    cursor: pointer;
}

main > div#linha {
    padding: 7px;
    box-shadow: 0px -1px 2px rgba(128, 128, 128, 0.555);
}

main > p#quant_res {
    font-size: 0.9em;
    color: rgb(80, 80, 80);
    margin-bottom: 10px;
    margin-left: 19.5vw;
}

p.titulo {
    color: rgb(0, 23, 151);
    font-size: 1.2em;
    margin-bottom: 3px;
    cursor: pointer;
}

p.titulo_click {
    color: rgb(54, 2, 102);
    font-size: 1.2em;
    margin-bottom: 3px;
    cursor: pointer;
}

p.url {
    color: green;
    margin-bottom: 2px;
    cursor: pointer;
}

p.previa {
    color: rgb(44, 44, 44);
    font-size: 0.9em;
    margin-bottom: 30px;
}

p#aviso_relacionado {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 1.2em;
}

div#sugestoes {
    margin-left: 20vw;
    display: flex;
    color: rgb(0, 23, 151);
    font-weight: bold;
}

div#sugestoes > div > p {
    padding: 0px 50px 10px 0px;
    min-width: 250px;
    cursor: pointer;
}

div#google_fake {
    display: flex;
    justify-content: center;
    font-size: 2.5em;
    font-weight: bold;
    padding-top: 20px;
}

p#g1, p#g2 {
    color: blue;
}

p#o_red, p#e {
    color: red;
}

p#o_yellow {
    color: rgb(241, 241, 69);
}

p#l {
    color: green;
}

p#seta {
    padding-left: 10px;
    font-size: 0.8em;
    color: blue;
    cursor: pointer;
}

div#contagem > div {
    display: flex;
    color:blue;
}

div#contagem {
    display: flex;
    justify-content: center;
}

div#contagem > div > p {
    padding: 0px 7px ;
    cursor: pointer;
}

p#um {
    color: black;
    cursor: text;
}

p#mais {
    margin-right: -35px;
    margin-left: 80px;
    color: blue;
    cursor: pointer;
}

div#contagem > div > p:hover, p#mais:hover {
    text-decoration: underline;
}

footer {
    background-color: rgba(211, 211, 211, 0.514);
    margin-top: 30px;
    color: rgba(0, 0, 0, 0.63);
    font-weight: bolder;
}

footer > div > div > strong {
    color: black;
}

div.linhas_de_baixo {
    box-shadow: 0px -1px 2px rgba(109, 109, 109, 0.603);
    padding: 1px;
}

div#rodape_a, div#rodape_b {
    margin-left: 20vw;
    min-width: 900px;
}

div#rodape_a {
    display: flex;
}

div#rodape_b {
    display: flex;
}

div#br, div#cep, div#rodape_b > p {
    padding: 15px;
}

div#cep, div#rodape_b, div#cep > strong {
    cursor: pointer;
}